.movies-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    width: 100%;
    z-index: 1;
}

.movies-card {
    position: relative;
    height: 24rem;
    width: 20rem;
    margin: 1rem;
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.297);

}

.movies-card .title {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    text-transform: capitalize;
}
.movies-card .title h3{
font-size: 1.4rem;
color:rgb(35, 35, 35);
}


.download-box {
    height: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

.download-box p,.download-btn {
    width: 8rem;
    height: 2.2rem;
    border: 0;
    outline: none;
    color: white;
    background: rgb(0, 42, 59);
    border-radius: 5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
.download-box div{
    position:absolute;
    top:.5rem;
    right:.5rem;
    color:rgb(246, 255, 0);
    border:.1rem solid rgba(238, 255, 0, 0.322);
    background:black;
    padding:.5rem 1rem;
    border-radius:5rem;
}
.download-btn{
    width: 3.5rem;
    height: 3.5rem;
}

.download-btn i{
    color:rgb(0, 235, 252);
    font-size: 1.3rem;
    transition:.1s;
}
.download-btn:hover i{
    font-size: 1.5rem;
    transition:.1s;
}

img {
    HEIGHT: 15rem;
    width: 100%;
    border-radius:.5rem .5rem 0 0 ; 
}

@media screen and (max-width:900px) {
    .movies-container {
        grid-template-columns: repeat(4, auto);
    }
}

@media screen and (max-width:700px) {
    .movies-container {
        grid-template-columns: repeat(3, auto);
    }
}

@media screen and (max-width:525px) {
    .movies-container {
        grid-template-columns: repeat(2, auto);
    }

    .movies-card {
        margin: 1rem .5rem;
    }
}

@media screen and (max-width:325px) {
    .movies-container {
        grid-template-columns: repeat(1, auto);
    }

    .movies-card {
        height: 19rem;
        width: 100%;
        margin: 1rem .5rem;
    }

    img {
        HEIGHT: 11.6rem;
    }

    .movies-card .title {
        height: 3.8rem;
    }
}