.movies-container {
    position: absolute;
    top: 7rem;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    width: 100%;
    z-index: 1;
}

.movies-card {
    position: relative;
    height: 23rem;
    width: 20rem;
    margin: 1rem;
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.297);
    transition: .3s;

}

.movies-card:hover {

    transform: scale(1.05);
    transition: .3s;
}

.movies-card .title {
    min-height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    text-transform: capitalize;
}

.movies-card .title h3 {
    font-size: 1.4rem;
    color: rgb(35, 35, 35);
}

.movies-card .title h3:hover {

    color: rgb(255, 136, 0);
}



a {
    text-decoration: none;
}


.movie-badge-box {
    width:100%;
    position: absolute;
    top: .5rem;
    right: 0;
    font-weight: bold;

    display: flex;
    justify-content: right;
    align-items: center;
    gap:1rem;
}
.movie-badge{
    color: rgb(246, 255, 0);
    border: .1rem solid rgba(238, 255, 0, 0.322);
    background: black;
    padding: .5rem 1rem;
    border-radius: 5rem;
    cursor: pointer;
}
.quality{
    right: .5rem;
    margin-right:.5rem;
}
.industry{
    left:.5rem;
    margin-right:.5rem;
    display: none;
}

img {
    HEIGHT: 15rem;
    width: 100%;
    border-radius: .5rem .5rem 0 0;
}

.lang-box{
    width:90%;
    height:3rem;
    margin:0 5%;
    display: flex;
    justify-content: center;
    align-items: center ;
    gap:.4rem;
}
.lang-box p{
        font-size:1.3rem;
        font-weight: bold;
       color:grey;
       text-transform: capitalize;
       cursor: pointer;
}

@media screen and (max-width:1100px) {
    .movies-container {
        grid-template-columns: repeat(4, auto);
    }
}

@media screen and (max-width:900px) {
    .movies-container {
        grid-template-columns: repeat(3, auto);
    }
}

@media screen and (max-width:700px) {
    .movies-card {
        width: 20rem;
    }

    .movies-container {
        grid-template-columns: repeat(3, auto);
        justify-content: space-evenly;
    }
}

@media screen and (max-width:650px) {
    .movies-container {
        grid-template-columns: repeat(2, auto);
        justify-content: center;
    }

    .movies-card {
        margin: 1rem;
    }
}

@media screen and (max-width:450px) {
    .movies-container {
        grid-template-columns: repeat(1, auto);
    }

    .movies-card {
        height: 12rem;
        width: 95%;
        margin: 1rem 2.5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }
    .movie-badge-box{
        width:(100% - 13rem)
    }

    img {
        HEIGHT: 13rem;
        width: 13rem;
        object-fit: cover;
        border-radius: .5rem 0 0 .5rem;
    }

    .movies-card-right {
        position: relative;
        bottom: 0;
        width: 100%;
        display: block;
        margin-top: 3rem;
        height: calc(100% - 3rem);
    }

    .movies-card .title {
        height: 4.8rem;
        width: 90%;
        margin: 0 1rem;
        text-align: center;
        margin-bottom: .5rem;
    }
    .movie-badge-box {
        width:calc(100% - 13rem);
        justify-content: center;
    }
    .industry{
        left:.5rem;
        margin-right:.5rem;
        display:block;
    }
}

@media screen and (max-width:300px) {
    .movies-card {
        zoom: .8;
    }
}

@media screen and (max-width:240px) {
    .movies-card {
        zoom: .6;
    }
}

@media screen and (max-width:180px) {
    .movies-card {
        zoom: .3;
    }
}

@media screen and (max-width:90px) {
    .movies-card {
        zoom: .2;
    }
}